<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>

  <main>
    <h1>About Me</h1>
    <p>Submitted By | Aguila, Aoureiov C.</p>
    <p>Course | BS Computer Engineering</p>
    <p>Section | CPE - 2201</p>
    <br>
    <p>BATANGAS STATE UNIVERSITY</p>
    <p>THE NATIONAL ENGINEERING UNIVERSITY</p>
    <br>
    <p>Submitted To | Engr. Renz Raniel Serrano</p>
  </main>
</body>
</html>
